<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>G-DRAGON</string>
		<key>online</key>
		<string>3</string>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>IMG_3798</string>
				<key>intro</key>
				<string>M</string>
				<key>name</key>
				<string>LOSER</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>IMG_3802</string>
				<key>intro</key>
				<string>A</string>
				<key>name</key>
				<string>SOBER</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>IMG_3803</string>
				<key>intro</key>
				<string>D</string>
				<key>name</key>
				<string>泥城</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>IMG_3807</string>
				<key>intro</key>
				<string>E</string>
				<key>name</key>
				<string>BIG</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>相濡以沫，却厌倦到终老</string>
				<key>name</key>
				<string>好友1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>2</string>
				<key>intro</key>
				<string>相忘于江湖，却怀念到哭泣</string>
				<key>name</key>
				<string>好友2</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>3</string>
				<key>intro</key>
				<string>亲爱的，你要更美好</string>
				<key>name</key>
				<string>好久不见</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>4</string>
				<key>intro</key>
				<string>亲爱的，你要更美好</string>
				<key>name</key>
				<string>好久不见</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>5</string>
				<key>intro</key>
				<string>亲爱的，你要更美好</string>
				<key>name</key>
				<string>好久不见</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>6</string>
				<key>intro</key>
				<string>亲爱的，你要更美好</string>
				<key>name</key>
				<string>好久不见</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>7</string>
				<key>intro</key>
				<string>亲爱的，你要更美好</string>
				<key>name</key>
				<string>好久不见</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>8</string>
				<key>intro</key>
				<string>亲爱的，你要更美好</string>
				<key>name</key>
				<string>好久不见</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>9</string>
				<key>intro</key>
				<string>亲爱的，你要更美好</string>
				<key>name</key>
				<string>好久不见</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>10</string>
				<key>intro</key>
				<string>亲爱的，你要更美好</string>
				<key>name</key>
				<string>好久不见</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>11</string>
				<key>intro</key>
				<string>亲爱的，你要更美好</string>
				<key>name</key>
				<string>好久不见</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>12</string>
				<key>intro</key>
				<string>亲爱的，你要更美好</string>
				<key>name</key>
				<string>好久不见</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>13</string>
				<key>intro</key>
				<string>亲爱的，你要更美好</string>
				<key>name</key>
				<string>好久不见</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>杰伦</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>16</string>
				<key>intro</key>
				<string>有时候，你必须跌到你从未经历的谷底，才能再次站在你从未到达的高峰</string>
				<key>name</key>
				<string>人才1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>17</string>
				<key>intro</key>
				<string>。。。。。。。。。</string>
				<key>name</key>
				<string>无语</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>18</string>
				<key>intro</key>
				<string>就是这么拽</string>
				<key>name</key>
				<string>任性</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>女神</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>IMG_3798</string>
				<key>intro</key>
				<string>夜空中最亮的星</string>
				<key>name</key>
				<string>YounG</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>YounG</string>
		<key>online</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>19</string>
				<key>intro</key>
				<string>再见，我的大学</string>
				<key>name</key>
				<string>我叫张学友</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>20</string>
				<key>intro</key>
				<string>bye</string>
				<key>name</key>
				<string>我叫张学友</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>21</string>
				<key>intro</key>
				<string>巡演即将开始~</string>
				<key>name</key>
				<string>我叫张学友</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>22</string>
				<key>intro</key>
				<string>她来听我的演唱会</string>
				<key>name</key>
				<string>我叫张学友</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>23</string>
				<key>intro</key>
				<string>旧情绵绵</string>
				<key>name</key>
				<string>我叫张学友</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>24</string>
				<key>intro</key>
				<string>再见再见</string>
				<key>name</key>
				<string>我叫张学友</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>学友</string>
		<key>online</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>25</string>
				<key>intro</key>
				<string>世界那么大</string>
				<key>name</key>
				<string>陈医生</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>26</string>
				<key>intro</key>
				<string>情人最后难免沦为朋友</string>
				<key>name</key>
				<string>EASON</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>27</string>
				<key>intro</key>
				<string>啊啊啊</string>
				<key>name</key>
				<string>陈奕迅</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>Eason</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>28</string>
				<key>intro</key>
				<string>再见理想</string>
				<key>name</key>
				<string>往日唏嘘</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>29</string>
				<key>intro</key>
				<string>再见我的爱</string>
				<key>name</key>
				<string>情人</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>Beyond</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>30</string>
				<key>intro</key>
				<string>风继续吹</string>
				<key>name</key>
				<string>可爱的人</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>31</string>
				<key>intro</key>
				<string>可否抽空想这张旧模样</string>
				<key>name</key>
				<string>国帅</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>哥哥</string>
		<key>online</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>32</string>
				<key>intro</key>
				<string>.....</string>
				<key>name</key>
				<string>嚓浪黑</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>33</string>
				<key>intro</key>
				<string>咸鱼</string>
				<key>name</key>
				<string>- -</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>34</string>
				<key>intro</key>
				<string>已经牵紧的手，我们都不会放开</string>
				<key>name</key>
				<string>医生有话对你讲</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>35</string>
				<key>intro</key>
				<string>哈喽~</string>
				<key>name</key>
				<string>十年</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我爱的人和爱我的人</string>
		<key>online</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
